{% extends "admin/bars.html.twig" %}

{% block contenpage %}
	<div class="">
		<div class="page-title">
			<div class="title_left">

			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>
							{{ "backend.user.profile_listing"|trans }}</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="row px-4" style="display: block ">
									<h4>{{ "backend.user.username"|trans }} : <p>{{ app.user.username }}</p></h4>
									<h4>{{ "backend.user.email"|trans }} :<p>{{ app.user.email }}</p></h4>
							<h4>{{ "backend.user.name"|trans }} :<p>{{ app.user.nomComplet }}</p></h4>
							<h4>{{ "backend.user.birthday"|trans }} :<p>{{ app.user.birthday | date }}</p></h4>
							<h4>{{ "backend.user.phone"|trans }} :<p>{{ app.user.PhoneNumber }}</p></h4>
							<h4>{{ "backend.user.gender"|trans }} :<p>{{ app.user.gender }}</p></h4>
							<h4>{{ "backend.user.address"|trans }} :<p>{{ app.user.address }}</p></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
