{% extends "admin/bars.html.twig" %}

{% block title %}DemandeInfo index{% endblock %}

{% block contenpage %}
    <h1>DemandeInfo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demande_info in demande_infos %}
            <tr>
                <td>{{ demande_info.id }}</td>
                <td>{{ demande_info.Description }}</td>
                <td>{{ demande_info.Type }}</td>
                <td>
                    <a href="{{ path('app_demande_info_show', {'id': demande_info.id}) }}">show</a>
                    <a href="{{ path('app_demande_info_edit', {'id': demande_info.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_demande_info_new') }}">Create new</a>
{% endblock %}
